body {
  background-color: black;
  font-family: "Muli", sans-serif;
  color: darkgrey;
}

#opening {
  color: darkgrey;
  margin-top: 220px;
}

.text {
  color: darkgrey;
  font-size: 1.5rem;
  font-variant: small-caps;
  margin-bottom: 10px;
}

#footer {
  border-top: 1px solid darkgrey;
  padding-top: 36px;
  flex-direction: column;
  text-align: center;
  padding-bottom: calc(env(safe-area-inset-bottom, 20px) + 20px);
  width: 100%;
}

canvas {
  border-bottom: 1px solid darkgrey;
}

img {
  height: 300px;
}
