body {
  background-color: black;
  font-family: "Muli", sans-serif;
  color: darkgrey;
}

#opening {
  color: darkgrey;
  margin-top: 220px;
}

.text {
  color: darkgrey;
  font-size: 1.5rem;
  font-variant: small-caps;
  margin-bottom: 10px;
}

a {
  color: darkgrey;
  font-size: 1.5rem;
}

#footer {
  border-top: 1px solid darkgrey;
  padding-top: 25px;
  flex-direction: column;
  text-align: center;
  padding-bottom: calc(env(safe-area-inset-bottom, 20px) + 20px);
  width: 100%;
}

.row img {
  width: 300px;
  border: darkgrey soild 2px;
}

.row {
  margin-bottom: 30px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

#rowTitle {
  margin-bottom: 10px;
}

#myPic {
  width: 250px;
}

.card {
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;
}
